@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/HomeCss.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hero">
        <img src="~/Bild/hängandelampa.png" style="z-index: -1;" alt="" loading="lazy">
        <h1 class="headline2">Välkommen till nordens största lampbutik</h1>
    </div>
</body>
</html>