h1 {
    color: yellow;
    font-family: 'B612', sans-serif;
}

.a {
    color: orange;
    text-decoration: none;
}

th {
    color: white;
}

td {
    color: white;
}

.b {
    color: orange;
    text-decoration:none;
}
