form {
    color: lightgoldenrodyellow;
}

h1 {
    color: yellow;
    font-family: 'B612', sans-serif;
}

dt {
    color: lightgoldenrodyellow;
}

dl {
    color: lightgoldenrodyellow;
}

.a {
    color: yellow;
}
